.gameOverBoard {
  align-items: center;
  animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
  background-color: rgba(40, 38, 23, 0.95);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.gameOverHeading {
  color: #fcd256;
  font-family: "Caprasimo", cursive;
  font-size: 4rem;
  margin: 0;
  text-align: center;
}

.gameOverTexts {
  color: #e1dec7;
  font-size: 2rem;
  text-align: center;
}

.rematchButton {
  background: none;
  border: 2px solid #fcd256;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(255, 187, 0, 0.4);
  color: #fcd256;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s, color 0.2s;

  &:hover {
    background: #fcd256;
    box-shadow: 0 0 20px rgba(255, 187, 0, 0.8);
    color: #3f3b00;
    transform: scale(1.1);
  }
}
