.headerSection {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.gameLogo {
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
  margin: 3rem 3rem 0;
  object-fit: contain;
  width: 8rem;
}

.heading {
  color: #3f3b00;
  font-family: "Caprasimo", cursive;
  font-size: 3rem;
  margin: 0 auto 3rem auto;
}
